body {

 color:#cecece;
 background:#092756;
 background:-moz-radial-gradient(0% 100%,ellipse cover,rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),-moz-linear-gradient(-45deg,#670d10 0%,#092756 100%);
 background:-webkit-radial-gradient(0% 100%,ellipse cover,rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-webkit-linear-gradient(top,rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),-webkit-linear-gradient(-45deg,#670d10 0%,#092756 100%);
 background:-o-radial-gradient(0% 100%,ellipse cover,rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-o-linear-gradient(top,rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),-o-linear-gradient(-45deg,#670d10 0%,#092756 100%);
 background:-ms-radial-gradient(0% 100%,ellipse cover,rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-ms-linear-gradient(top,rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),-ms-linear-gradient(-45deg,#670d10 0%,#092756 100%);
 background:-webkit-radial-gradient(0% 100%,ellipse cover,rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),linear-gradient(to bottom,rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),linear-gradient(135deg,#670d10 0%,#092756 100%);
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3E1D6D',endColorstr='#092756',GradientType=1);
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 text-rendering:optimizeSpeed;
 font-family:'Ubuntu',serif;
 font-weight:400;
 line-height:1.75

}

a {
	color: #fff;
	text-decoration: unset;
}

a:hover {
	color: #ddd;
	text-decoration: underline;
}

.block-effect {
	background: #1c1d2259;
	border-radius: .8rem;
	padding: .4rem 1.6rem;
	margin: 0 0 1rem 0;
	-webkit-box-shadow: 3px 3px 10px 3px #1c1d2259;
	-moz-box-shadow: 3px 3px 10px 3px #1c1d2259;
	box-shadow: 3px 3px 10px 3px #1c1d2259;
}

.header-wrap {

}

.body-wrap {

}

.person-image-block {
	text-align: center;
	padding: 0;
}

.person-image {
	max-width: 100%;
	padding: 0;
	margin: 0;
	border-radius: .8rem;
}

.person-info-block {

}